.u-section-1 {
  background-image: url("../images/MotherDaughter.jpg");
  background-position: 50% 50%;
  min-height: 902px;
}

.u-section-1 .u-group-1 {
  margin-top: 519px;
  margin-bottom: 0;
  min-height: 383px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 51px 50px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  text-transform: none;
  margin: 44px auto 0;
  padding: 28px 58px 28px 57px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 744px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 428px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 269px;
  }
}.u-section-2 {
  background-image: url("../images/YoungRoad.jpg");
  background-position: 50% 50%;
  min-height: 902px;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 366px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin: 49px 176px 0 163px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 10px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  align-self: center;
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 329px auto 0;
  padding: 28px 29px 28px 27px;
}

.u-section-2 .u-group-2 {
  width: 261px;
  min-height: 47px;
  margin: 46px calc(((100% - 1140px) / 2)) 20px auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 1.5rem;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-2 .u-rotation-parent-1 {
  width: 38px;
  height: 38px;
  margin: -38px auto 0 0;
}

.u-section-2 .u-icon-1 {
  width: 42px;
  height: 42px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1075px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 76px;
    margin-left: 63px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 615px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -142px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-rotation-parent-1 {
    height: 34px;
  }

  .u-section-2 .u-icon-1 {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 570px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 428px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 269px;
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 340px) / 2));
  }
}