.u-section-1 {
    min-height: 500px;
}

.u-footer {
    z-index: 3;
}

@import url("https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu");

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
/* side menu */
.wui-side-menu {
    position: fixed;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: white;
    backface-visibility: hidden;
    z-index: 3;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: webkit-transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6));
}

    .wui-side-menu.open {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

        .wui-side-menu.open ~ .content .side-menu-trigger {
            display: none;
        }

    .wui-side-menu.open {
        box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
    }

    .wui-side-menu .header,
    .wui-content-header {
        vertical-align: baseline;
        /* line-height:50px; */
    }

.wui-side-menu-pin-trigger,
.wui-side-menu-trigger {
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    line-height: 50px;
}

.wui-side-menu .wui-side-menu-pin-trigger {
    display: none;
    float: right;
}

    .wui-side-menu .wui-side-menu-pin-trigger i {
        -webkit-transition: all 0.22s ease-out;
        -moz-transition: all 0.22s ease-out;
        -o-transition: all 0.22s ease-out;
        transition: all 0.22s ease-out;
    }

.wui-side-menu .wui-side-menu-items {
    overflow-y: auto;
    height: calc(100% - 50px);
}

.wui-side-menu .wui-side-menu-item {
    display: block;
    width: 100%;
    padding: 15px 12px;
    border-left: 5px solid transparent;
}

.wui-side-menu .wui-side-menu-item {
    height: 50px;
    align-items: center;
    display: flex;
}

    .wui-side-menu .wui-side-menu-item i.box-ico {
        margin-right: 4px;
    }

/* overlay */
.wui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    display: none;
}

    .wui-side-menu.open ~ .wui-overlay,
    .wui-overlay.active {
        display: block;
    }

/* content */
.wui-content-header {
    z-index: 1;
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}
/* .wui-content .wui-side-menu-trigger {margin-left:-10px;} */
@media only screen and (min-width: 768px) {
    .wui-side-menu .wui-side-menu-pin-trigger {
        display: inline-block;
    }

    .wui-side-menu.open {
        box-shadow: initial;
    }

        .wui-side-menu.open ~ .wui-overlay {
            display: none;
        }

        .wui-side-menu.open ~ .wui-content .wui-side-menu-trigger {
            display: none;
        }

        .wui-side-menu.open:not(.pinned) ~ .wui-overlay {
            display: block;
        }

        .wui-side-menu.open:not(.pinned) {
            box-shadow: 2px 0 16px 0 rgba(0, 0, 0, 0.3);
        }

        .wui-side-menu.open.pinned ~ .wui-content {
            left: 220px;
        }
}

ul.wui-side-menu-items {
    list-style: none;
    padding: 0;
}

.wui-side-menu {
    background-color: #292e34;
    color: #ddd;
}

    .wui-side-menu .wui-side-menu-trigger:hover,
    .wui-side-menu-item:hover,
    .wui-side-menu-pin-trigger:hover {
        color: #fff;
        background-color: #383f45;
    }

    .wui-side-menu a {
        color: #ccc;
        text-decoration: none;
    }

    .wui-side-menu .wui-side-menu-item.active {
        color: #24d85d;
    }

    .wui-side-menu .wui-side-menu-item.activeRed {
        color: #fa1d15;
    }

#risk-toggle-btn {
    border-left-color: rgba(0, 0, 0, 0.1) !important;
}

.wui-content a {
    color: rgba(45, 46, 57, 0.9);
}

.route-btn {
    width: 140px;
    height: 45px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

    .route-btn:hover {
        background-color: #ff5722;
        box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
        color: #000;
        transform: translateY(7px);
    }


/* display the anchor link side by side  */
.route-tab {
    display: flex;
    background: #fff;
    /* considerable whitespace surrounding the navigation's items */
    /* padding: 2rem 3.15rem; */
    height: 75px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
    padding: 10px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.171));
}

    /* remove default style and slightly separate the anchor links from one another */
    .route-tab a {
        color: inherit;
        text-decoration: none;
        margin: 0 0.2rem;
        /* display the svg icon and span elements side by side, vertically aligned */
        display: flex;
        align-items: center;
        /* include padding for the background applied on the active item */
        padding: 0.75rem 1.25rem;
        border-radius: 30px;
        /* position relative for the pseudo element */
        position: relative;
        color: #8a8a8a;
        /* custom properties for the colors picked up by the elements when clicked (and updated for each link in the script) */
        --hover-bg: #5b37b720;
        --hover-c: #5b37b7;
    }

        /* include considerable negative margin to have the svg icon overlapping with the span element */
        .route-tab a svg {
            margin-right: -2.5rem;
            width: 28px;
            height: 28px;
            pointer-events: none;
            /* transition for the change in margin */
            transition: margin 0.2s ease-out;
        }
        /* by default hide the span element */
        .route-tab a span {
            /* opacity: 0;
  visibility: hidden; */
            font-size: 0.9rem;
            margin-left: 0.9rem;
        }
        /* include with a pseudo element relative to the anchor link a circle, with a fixed with and height */
        .route-tab a:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            /* positioned to the left of the anchor link and scaled to 0 */
            transform: translate(0%, -50%) scale(0);
            visibility: visible;
            opacity: 1;
        }
        /* when active */
        /* specify the colors dictated by the custom properties */
        .route-tab a.active {
            background: var(--hover-bg);
            color: var(--hover-c);
        }
            /* using the color specified by the then updated custom property show the circle of the pseudo element increasing its size and highlighting it momentarily */
            .route-tab a.active:before {
                background: var(--hover-c);
                opacity: 0;
                visibility: hidden;
                transform: translate(0%, -50%) scale(2);
                /* transition only when the class is applied */
                transition: all 0.4s ease-out;
            }
            /* remove the margin applied to the svg to make it overlay atop the anchor link */
            .route-tab a.active svg {
                margin-right: 0;
            }
            /* show the span element */
            .route-tab a.active span {
                visibility: visible;
                opacity: 1;
                transition: all 0.2s ease-out;
            }

/* on smaller viewports show the navigation bar on the side, attached to the left of the screen */
@media (max-width: 500px) {
    .route-tab {
        flex-direction: column;
        justify-self: start;
        border-radius: 0 30px 30px 0;
        padding: 2rem 1.15rem 2rem 0.75rem;
    }
        /* change the margin separating the anchor link elements now dividing the elements vertically */
        .route-tab a {
            margin: 0.5rem 0;
        }
        /* remove the negative margin from the svg elements, as the width is to be taken in full */
        .route-tab svg {
            margin: 0;
        }
}




.filter-title {
    /* background-color: red; */
    display: flex;
    /* width: 100px; */
    justify-content: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

.risk-filter-content {
    position: absolute;
    padding-top: 10vh;
    width: 100%;
}

.line-2 {
    border-top: 1px solid #478ac9;
    margin: 0 10px;
}

/* demo */
body {
    margin: 0;
    font-family: "arial";
    font-weight: 100;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#events {
    background-color: #ccc;
}

/* #map{
  position: abosolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width:100%;
} */

#map {
    position: relative;
    height: calc(100vh - 110px);
    width: 100%;
}

input {
    outline: none;
}

    input[type="search"] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    }

/* My Search Bar Header css */
.search-bar-header {
    position: relative;
    color: #e2e3e9;
    background-color: rgba(24, 24, 31, 0.8);
    box-shadow: 2px 2px 2px gray;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    max-width: 50%;
    max-height: 50%;
    padding: 50px 60px;
    border-radius: 10em;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    display: inline-flex;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    vertical-align: middle;
    z-index: 3;
}

.search-bar {
    padding-left: 10px;
}

@media only screen and (max-width: 948px) {
    .search-bar-header {
        display: compact;
    }

    .search-bar-results {
        left: 50% !important;
        transform: translateX(-50%);
    }
}

/* Search Bar CSS */
input[type="search"] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 100px;
    color: black;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

    input[type="search"]:focus {
        width: 170px;
        background-color: #fff;
        border-color: rgba(109, 207, 246, 0.5);
        -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
        -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
        box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    }

a {
    color: #69c;
    text-decoration: none;
}

    a:hover {
        color: #f60;
    }

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

/* Dropdown css */
.legend {
    font-family: "Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #e2e3e9;
    /*   background-color: #2d2e39; */
    background: rgba(45, 46, 57, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 6px;
    bottom: 30px;
    /* bottom: 140px; <-- with footer */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    right: 10px;
    /*   height: 25%; */
    z-index: 3;
}

    .legend h4 {
        margin: 0 0 10px 0;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
    }

    .legend div span {
        border-radius: 50%;
        display: inline-block;
        height: 16px;
        margin-right: 8px;
        width: 16px;
    }

/*tooltip Box*/
.con-tooltip {
    position: absolute;
    color: yellow;
    background: rgba(24, 24, 31, 0.8);
    right: 0;
    border-radius: 9px;
    padding: 5px 10px;
    margin: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: default;
    z-index: 3;
}

/*tooltip */
.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: 0.4;
    width: 100px;
    /* width: 100%; */
    /* padding: 0px 20px; */
    background: #333;
    color: #fff;
    position: absolute;
    font-size: 13px;
    border-radius: 9px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

/* tooltip  after
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  left: 40%;
} */
.bottom:hover {
    transform: translateY(6px);
}

.bottom .tooltip {
    top: 115%;
    right: 50%;
    padding: 10px;
}

/* .bottom .tooltip::after{
  top:-17%;
  left:40%;
  transform: rotate(180deg);
} */
.con-tooltip:hover .tooltip {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: 0.3s linear;
    animation: brianAnim 1s ease-in-out infinite alternate;
}

.bottom:hover {
    transform: translateY(6px);
}

@keyframes brianAnim {
    0% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(1px);
    }
}

.myCustomIntroJSTooltip * {
    color: #4a4a4a;
    font-size: 18px;
    max-width: 600px;
    font-family: sans-serif;
    font-size: 1em;
    /* text-align: center; */
    /* width: max-content; */
}

.myCustomIntroJSTooltip .introjs-tooltip-title {
    color: #0a41c9;
    font-size: 1rem;
}

.myCustomIntroJSHighlight {
    box-shadow: rgba(33, 33, 33, 0) 0px 0px 0px 0px, rgba(33, 33, 33, 0.498039) 0px 0px 0px 5000px !important;
    /* opacity: 0; */
}

/* iPhone Toggle Checkbox CSS */
.switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
}

    .switch input {
        display: none;
    }

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

    .slider:before {
        background-color: #fff;
        bottom: 2px;
        content: "";
        height: 13px;
        left: 2px;
        position: absolute;
        transition: 0.4s;
        width: 13px;
    }

input:checked + .slider {
    background-color: #66bb6a;
}

    input:checked + .slider:before {
        transform: translateX(13px);
    }

.slider.round {
    border-radius: 17px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.iphToggle {
    display: inline-flex;
    align-items: center;
}
/* End  */

/* A css to stop from user highlighting text */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.easeFadeIn {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.avoid-clicks {
    pointer-events: none;
}

.toggleOff {
    background-color: #ccc;
}

.toggleOffFont {
    color: #ccc;
}

.riskGreenFont {
    color: #5fe464 !important;
}

.riskOrangeFont {
    color: #e2aa50 !important;
}

.riskRedFont {
    color: #db545a !important;
}

.riskGreen {
    background-color: #a6f0a8 !important;
}

.riskDarkGreen {
    background-color: #5fe464 !important;
}

.riskOrange {
    background-color: #e2aa50 !important;
}

.riskRed {
    background-color: #fa1d15 !important;
}

/* 
Search bar and animation
*/
.search-bar-results {
    top: 0;
    color: black;
    z-index: 6;
    background-color: white;
    /* height: 200px; */
    position: relative;
    color: #292e34;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    font-family: sans-serif;
    font-size: 1em;
    /* text-align: center; */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    max-width: 200px;
    max-height: 50%;
    padding: 50px 60px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    left: 48%;
    /* transform: translateX(-50%); */
    align-items: center;
    vertical-align: middle;
    z-index: 3;
}

    .search-bar-results .result-list li {
        /* padding: 10px; */
        /* background-color: red; */
        list-style-type: none;
        /* margin-bottom: 10px; */
        margin-left: -20px;
        /* float: left; */
        /* width: 500px; */
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    }

        .search-bar-results .result-list li a {
            display: block;
            padding: 15px 10px;
            color: #7f7f7f;
            text-decoration: none;
        }

            .search-bar-results .result-list li a:hover {
                background: #478ac9;
                color: #fff;
            }

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

    .option-input:hover {
        background: #9faab7;
    }

    .option-input:checked {
        background: #24d85d;
    }

        .option-input:checked::before {
            height: 20px;
            width: 20px;
            position: absolute;
            content: "✔";
            display: inline-block;
            font-size: 20px;
            text-align: center;
            line-height: 20px;
        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: #24d85d;
            content: "";
            display: block;
            position: relative;
            z-index: 100;
        }

    .option-input.radio {
        border-radius: 50%;
    }

        .option-input.radio::after {
            border-radius: 50%;
        }
