@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1067" data-image-height="1600" id="carousel_740a">
    <!-- <<div class="u-align-left u-clearfix u-sheet u-sheet-1">

    </div>> -->
    <div class="card">
        <h5 class="u-align-left u-text u-text-default u-text-1">About Us</h5>
        <p class="u-align-left u-text u-text-default">
            At Black Spot Helper, we want to solve the most crucial social good problem: <b>identifying potential accident black spots.</b><br><br>
            There are existing state funded black spot programs, technologies to monitor driving habits, and many more ways to solve road safety. But we believe that the best way is to get you learning.<br><br>
            Road accidents in regional Victoria are widely spread over the road, and not always concentrated at any specific spot. In other words, to identify a potential black spot location, in general we have to consider a measurement of crash risk, rather than using crash history.
        </p>
    </div>
    <div class="country-wrap">
        <div class="street">
            <div class="car">
                <!--<div class="car-base"></div>-->
                <div class="car-body">
                    <div class="car-top-back">
                        <div class="back-curve"></div>
                    </div>
                    <div class="car-gate"></div>
                    <div class="car-top-front">
                        <div class="wind-sheild"></div>
                    </div>
                    <div class="bonet-front"></div>
                    <div class="stepney"></div>
                </div>
                <div class="boundary-tyre-cover">
                    <div class="boundary-tyre-cover-back-bottom"></div>
                    <div class="boundary-tyre-cover-inner"></div>
                </div>
                <div class="tyre-cover-front">
                    <div class="boundary-tyre-cover-inner-front"></div>
                </div>
                <div class="base-axcel">

                </div>
                <div class="front-bumper"></div>
                <div class="tyre">
                    <div class="gap"></div>
                </div>
                <div class="tyre front">
                    <div class="gap"></div>
                </div>
                <div class="car-shadow"></div>
            </div>
        </div>
        <div class="street-stripe"></div>
        <div class="hill">
            <!--<div class="tree-1">
                <div class="branch-1"></div>
                <div class="branch-2"></div>
                <div class="branch-3"></div>
              </div>
              <div class="tree-1">
              <div class="branch"></div>
              <div class="trunk"></div>
            </div>-->
        </div>

    </div>
</section>
<footer class="site-footer u-align-center u-clearfix u-footer u-grey-70 u-footer" id="sec-5f03">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" style="margin:10px auto !important">2021 Ⓒ Black Spot Helper</p>
        <p class="u-small-text u-text u-text-variant u-text-1" style="margin:10px auto !important">Created with Black Spot Helper Project Team</p>
    </div>
</footer>
@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/About-Us.css" media="screen">

}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
}