@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1920" data-image-height="960" id="carousel_740a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-border-1 u-border-white u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                        <div class="u-align-left u-border-2 u-border-white u-container-style u-group u-image u-shape-circle u-image-1" data-image-width="150" data-image-height="150">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                        <h5 class="u-custom-font u-font-arial u-text u-text-1">
                            Brain Cheung<br>Project Manager
                        </h5>
                    </div>
                </div>
                <div class="u-align-center u-border-1 u-border-white u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                        <div class="u-align-left u-border-2 u-border-white u-container-style u-group u-image u-shape-circle u-image-2" data-image-width="107" data-image-height="150">
                            <div class="u-container-layout u-container-layout-4"></div>
                        </div>
                        <h5 class="u-custom-font u-font-arial u-text u-text-2">
                            Zhengdao He<br>Back-end Developer
                        </h5>
                    </div>
                </div>
                <div class="u-align-center u-border-1 u-border-white u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xs u-container-layout-5">
                        <div class="u-align-left u-border-2 u-border-white u-container-style u-group u-image u-shape-circle u-image-3" data-image-width="99" data-image-height="150">
                            <div class="u-container-layout u-container-layout-6"></div>
                        </div>
                        <h5 class="u-custom-font u-font-arial u-text u-text-3">
                            Hao Li<br>Cyber Security Developer
                        </h5>
                    </div>
                </div>
                <div class="u-align-center u-border-1 u-border-white u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xs u-container-layout-7">
                        <div class="u-align-left u-border-2 u-border-white u-container-style u-group u-image u-shape-circle u-image-4" data-image-width="150" data-image-height="150">
                            <div class="u-container-layout u-container-layout-8"></div>
                        </div>
                        <h5 class="u-custom-font u-font-arial u-text u-text-4">
                            Yifei Xiao<br>Front-end Developer
                        </h5>
                    </div>
                </div>
                <div class="u-align-center u-border-1 u-border-white u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-middle-sm u-valign-middle-xs u-container-layout-9">
                        <div class="u-align-left u-border-2 u-border-white u-container-style u-group u-image u-shape-circle u-image-5" data-image-width="150" data-image-height="150">
                            <div class="u-container-layout u-container-layout-10"></div>
                        </div>
                        <h5 class="u-custom-font u-font-arial u-text u-text-5">
                            Elvis Dcosta<br>Data Science
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/About-Us.css" media="screen">

}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
}