@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="u-align-left u-clearfix u-white u-section-1" id="carousel_0f6e">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h5 class="u-text u-text-1"> Contact US </h5>
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <span class="u-icon u-icon-circle u-spacing-10 u-text-black u-white u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2bbd"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-2bbd" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>
</g>
</g>
</g></svg>
                        </span>
                        <p class="u-text u-text-2">Lacinia at quis risus sed vulputate. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Accumsan in nisl nisi scelerisque.</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-2">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <span class="u-icon u-icon-circle u-spacing-10 u-text-black u-white u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2bbd"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-2bbd" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>
</g>
</g>
</g></svg>
                        </span>
                        <p class="u-text u-text-3">Lacinia at quis risus sed vulputate. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Accumsan in nisl nisi scelerisque.</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <span class="u-icon u-icon-circle u-spacing-10 u-text-black u-white u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2bbd"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-2bbd" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>
</g>
</g>
</g></svg>
                        </span>
                        <p class="u-text u-text-4">Get access to exclusive products that are not available in your country. New brands and stores are added to our platform daily. You can rely on Big Apple Buddy to help you discover the latest products from the USA.</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-4">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <span class="u-icon u-icon-circle u-spacing-10 u-text-black u-white u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2bbd"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-2bbd" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>
</g>
</g>
</g></svg>
                        </span>
                        <p class="u-text u-text-5">Lacinia at quis risus sed vulputate. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Accumsan in nisl nisi scelerisque.</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-5">
                    <div class="u-container-layout u-similar-container u-container-layout-5">
                        <span class="u-icon u-icon-circle u-spacing-10 u-text-black u-white u-icon-5">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2bbd"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-2bbd" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>
</g>
</g>
</g></svg>
                        </span>
                        <p class="u-text u-text-6">Lacinia at quis risus sed vulputate. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Accumsan in nisl nisi scelerisque.</p>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-6">
                    <div class="u-container-layout u-similar-container u-container-layout-6">
                        <span class="u-icon u-icon-circle u-spacing-10 u-text-black u-white u-icon-6">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2bbd"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-2bbd" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>
</g>
</g>
</g></svg>
                        </span>
                        <p class="u-text u-text-7">Lacinia at quis risus sed vulputate. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Accumsan in nisl nisi scelerisque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/Contact.css" media="screen">

}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
}