@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_2232" src="" data-image-width="8192" data-image-height="5461">
    <div class="u-container-style u-custom-color-5 u-expanded-width u-group u-opacity u-opacity-85 u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1">
            <h5 class="u-align-center u-custom-font u-font-arial u-text u-text-1">
                Accident are waiting to happen.<br>It is better to arrive home later than never.
            </h5>
            @Html.ActionLink("Check it now", "SpotMyArea", "Home", new { }, new { @class = "u-active-white u-border-none u-btn u-btn-round u-button-style u-custom-color-6 u-custom-font u-font-arial u-hover-white u-radius-8 u-text-active-black u-text-custom-color-5 u-text-hover-black u-btn-1" })
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-image u-section-2" id="carousel_dbb4" data-image-width="5184" data-image-height="3456">
    <div class="u-black u-container-style u-expanded-width u-group u-opacity u-opacity-70 u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1">
            <p class="u-align-center u-text u-text-1">Roads were made for journeys, not destinations.</p>
            <p class="u-align-center u-text u-text-default u-text-2">
                Driving safely is what brings you to your&nbsp;<br>destination. To make it worth the trip, map out&nbsp;<br>your route with dicovering accident black spots.
            </p>
        </div>
    </div>
    <a href="Map.html" data-page-id="35519011" class="u-active-white u-border-none u-btn u-btn-round u-button-style u-custom-color-6 u-custom-font u-font-arial u-hover-white u-radius-8 u-text-active-black u-text-hover-black u-text-palette-3-light-1 u-btn-1">Discover Danger Spots</a>
    <div class="u-container-style u-group u-group-2">
        <div class="u-container-layout">
            @Html.ActionLink("More information", "MoreInfo", "Home", new { }, new { @class = "u-border-none u-btn u-button-style u-none u-text-white u-btn-" })
            <div class="u-rotation-parent u-rotation-parent-1">
                <span class="u-icon u-icon-circle u-rotate-90 u-text-white u-icon-1" data-href="More-info.html" data-page-id="262830511">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f5d2"></use></svg><svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-f5d2" style="enable-background:new 0 0 60 60;">
                        <g>
                            <path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
		c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
		C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"></path>
                            <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
		S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/Home.css" media="screen">

}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
}