@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_c016" data-image-width="6000" data-image-height="4000">
    <div class="u-align-left u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center u-container-style u-group u-opacity u-opacity-90 u-shape-rectangle u-white u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-1-base u-text-1">Black Spot Helper</h2>
                <p class="u-text u-text-2">
                    There are more dangerous roads in Melbourne than you may think.​​&nbsp;<br> You can drive safer after learning black spots here. Because it is better to arrive home later than never.
                </p>
                @Html.ActionLink("Check your suburb", "SpotMyArea", "Home", new { }, new { @class = "u-active-palette-1-dark-2 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-2 u-palette-1-base u-radius-45 u-btn-1" })
                <a href="#carousel_d920" id="readmore" data-page-id="642891" class="u-text-active-palette-1-dark-2 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-2 u-palette-3-base u-radius-45 u-btn-1" style="margin-top: 10px">What is Blackspot?</a>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-60 u-section-2" id="sec-03ef" style="background-color:#fff !important">
    <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-wrap">
        <div class="u-layout" style="">
            <div class="u-layout-row" style="">
                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
                    <div class="u-container-layout u-container-layout-1"  style="background-color: #edece4 !important">
                        <h2 class="u-align-center u-custom-font u-font-arial u-text u-text-body-color u-text-1"> Roads wer​e made for journeys, not​ destinations.</h2>
                        <div class="u-expanded-width-sm u-expanded-width-xs u-shape u-shape-rectangle u-text-palette-3-light-2 u-shape-1">
                            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3ded"></use></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-3ded" style="enable-background:new 0 0 160 160;"><path d="M151.7,132.5c-3.4,6-7.9,11.7-13.3,16.5c-29.2,26.1-54.1-2.3-88.2-3S0,109.5,0,91.6s14.8-31.3,25.3-45.3S33.4,11,51.8,3
	c15.3-6.6,33.6-0.4,51.6,0.7c11.2,0.7,28.8-3.8,38.2,0.4s11.8,15.4,9.2,22.8c-1.9,5.4-5.5,11.6-12.8,16.5
	c-9.3,10.1-4.7,22.9,3.7,33.4c7.8,9.7,17.7,11.7,18.3,23.5C160.4,110.8,157.6,122.2,151.7,132.5L151.7,132.5z"></path></svg>
                        </div>
                        <p class="u-align-center u-text u-text-2"> Driving safely is what brings you to your&nbsp;destination. ​Map out&nbsp;your route while discovering accident black spots.&nbsp;Make it worth the trip.</p>
                        <a href="~/Home/Map" class="u-align-center u-btn u-button-style u-hover-palette-4-base u-palette-3-base u-btn-1" style="margin-left:auto !important">
                            <span style="font-size: 1.125rem;">Discover Black Spots</span>
                            <br>
                        </a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="990" data-image-height="660">
                    <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-3" id="carousel_52c8">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Did you know?</h2>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <span class="u-icon u-icon-rectangle u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 256 256" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-78df"></use></svg><svg class="u-svg-content" viewBox="0 0 256 256" id="svg-78df">
                                <g>
                                    <g>
                                        <path d="m128 12.931v115.069h-115.069c0-63.549 51.52-115.069 115.069-115.069z" fill="#5fcdff"></path>
                                        <path d="m243.069 128c0 17.163-3.756 33.452-10.506 48.084l-104.563-48.084v-115.069c63.549 0 115.069 51.52 115.069 115.069z" fill="#44c7b6"></path>
                                        <path d="m232.563 176.084c-18.202 39.533-58.178 66.986-104.563 66.986-63.549 0-115.069-51.52-115.069-115.069h115.069z" fill="#f9d335"></path>
                                        <path d="m128 12.931v1.039c-56.254 7.532-99.635 55.719-99.635 114.03h-15.434c0-63.549 51.52-115.069 115.069-115.069z" fill="#73d7f9"></path>
                                        <path d="m135.789 242.802c-2.572.185-5.176.268-7.789.268-63.549 0-115.069-51.52-115.069-115.069h15.434c0 60.975 47.436 110.88 107.424 114.801z" fill="#f9e27d"></path>
                                        <path d="m243.069 128c0 17.163-3.756 33.452-10.506 48.084l-12.903-5.937c5.155-13.058 7.974-27.268 7.974-42.146 0-58.311-43.381-106.498-99.635-114.03v-1.039c63.55-.001 115.07 51.519 115.07 115.068z" fill="#3bb2a0"></path>
                                        <path d="m232.563 176.084c-18.202 39.533-58.178 66.986-104.563 66.986-2.572 0-5.114-.082-7.645-.268 43.042-2.871 79.601-29.418 96.774-66.718.895-1.955 1.749-3.931 2.531-5.937z" fill="#f2c300"></path>
                                        <g>
                                            <circle cx="183.548" cy="68.839" fill="#ffbb98" r="15.149"></circle>
                                            <path d="m201.146 128.924h-35.196v-27.338c0-9.719 7.879-17.598 17.598-17.598 9.719 0 17.598 7.879 17.598 17.598z" fill="#44c7b6"></path>
                                            <path d="m188.881 83.022c-1.657.626-3.456.967-5.333.967-8.37 0-15.146-6.784-15.146-15.153 0-8.362 6.777-15.146 15.146-15.146 1.877 0 3.676.341 5.333.967-5.739 2.155-9.813 7.694-9.813 14.179 0 6.492 4.075 12.032 9.813 14.186z" fill="#ffcaa6"></path>
                                            <path d="m188.881 84.814c-7.111 2.254-12.266 8.917-12.266 16.775v27.334h-10.666v-27.334c0-9.721 7.879-17.6 17.6-17.6 1.862 0 3.654.292 5.332.825z" fill="#4bdbc3"></path>
                                        </g>
                                        <g>
                                            <circle cx="98.482" cy="159.15" fill="#ffbb98" r="15.149"></circle>
                                            <path d="m116.08 219.235h-35.196v-27.338c0-9.719 7.879-17.598 17.598-17.598 9.719 0 17.598 7.879 17.598 17.598z" fill="#ff4a73"></path>
                                            <path d="m103.816 173.333c-1.657.626-3.456.967-5.333.967-8.37 0-15.146-6.784-15.146-15.153 0-8.362 6.777-15.146 15.146-15.146 1.877 0 3.676.341 5.333.967-5.739 2.155-9.813 7.694-9.813 14.179-.001 6.492 4.074 12.032 9.813 14.186z" fill="#ffcaa6"></path>
                                            <path d="m103.816 175.125c-7.111 2.254-12.266 8.917-12.266 16.775v27.334h-10.667v-27.334c0-9.721 7.879-17.6 17.6-17.6 1.862 0 3.654.292 5.333.825z" fill="#f973a3"></path>
                                        </g>
                                        <g>
                                            <circle cx="85.789" cy="54.71" fill="#ffbb98" r="15.149"></circle>
                                            <path d="m103.387 114.795h-35.196v-27.338c0-9.719 7.879-17.598 17.598-17.598 9.719 0 17.598 7.879 17.598 17.598z" fill="#5fcdff"></path>
                                            <path d="m91.122 68.893c-1.657.626-3.456.967-5.333.967-8.37 0-15.146-6.784-15.146-15.153 0-8.362 6.777-15.146 15.146-15.146 1.877 0 3.676.341 5.333.967-5.739 2.155-9.813 7.694-9.813 14.179 0 6.492 4.075 12.032 9.813 14.186z" fill="#ffcaa6"></path>
                                            <path d="m91.122 70.685c-7.111 2.254-12.266 8.917-12.266 16.775v27.334h-10.666v-27.334c0-9.721 7.879-17.6 17.6-17.6 1.862 0 3.654.292 5.332.825z" fill="#73d7f9"></path>
                                        </g>
                                    </g>
                                    <g fill="#5f266d">
                                        <path d="m195.621 83.686c4.314-3.514 7.077-8.862 7.077-14.847 0-10.559-8.59-19.15-19.149-19.15s-19.149 8.591-19.149 19.15c0 5.985 2.763 11.333 7.077 14.847-5.743 3.885-9.525 10.459-9.525 17.9v27.338c0 2.209 1.791 4 4 4h35.196c2.209 0 4-1.791 4-4v-27.338c-.002-7.441-3.784-14.015-9.527-17.9zm-12.073-25.997c6.148 0 11.149 5.002 11.149 11.15s-5.001 11.149-11.149 11.149-11.149-5.001-11.149-11.149 5.001-11.15 11.149-11.15zm13.598 67.235h-27.196v-23.338c0-7.498 6.1-13.598 13.598-13.598s13.598 6.1 13.598 13.598z"></path>
                                        <path d="m110.555 173.997c13.938-11.356 5.911-33.997-12.073-33.997-17.975 0-26.015 22.637-12.073 33.996-5.743 3.886-9.525 10.459-9.525 17.9v27.338c0 2.209 1.791 4 4 4h35.196c2.209 0 4-1.791 4-4v-27.338c0-7.44-3.782-14.014-9.525-17.899zm-12.073-25.997c6.148 0 11.149 5.001 11.149 11.149s-5.001 11.149-11.149 11.149-11.149-5.001-11.149-11.149 5.001-11.149 11.149-11.149zm13.598 67.235h-27.196v-23.338c0-7.498 6.1-13.598 13.598-13.598s13.598 6.1 13.598 13.598z"></path>
                                        <path d="m97.862 69.557c4.314-3.514 7.077-8.862 7.077-14.847 0-10.559-8.591-19.149-19.15-19.149s-19.149 8.59-19.149 19.149c0 5.985 2.763 11.333 7.077 14.847-5.743 3.885-9.525 10.459-9.525 17.9v27.338c0 2.209 1.791 4 4 4h35.196c2.209 0 4-1.791 4-4v-27.338c-.001-7.441-3.783-14.015-9.526-17.9zm-12.073-25.996c6.148 0 11.15 5.001 11.15 11.149s-5.002 11.149-11.15 11.149-11.149-5.001-11.149-11.149 5.001-11.149 11.149-11.149zm13.598 67.234h-27.196v-23.338c0-7.498 6.1-13.598 13.598-13.598s13.598 6.1 13.598 13.598z"></path>
                                        <path d="m128 8.931c-65.655 0-119.069 53.414-119.069 119.069s53.414 119.069 119.069 119.069c65.277 0 119.069-52.97 119.069-119.069 0-65.655-53.414-119.069-119.069-119.069zm-4 8.071v106.998h-106.998c2.064-58.073 48.925-104.934 106.998-106.998zm4 222.067c-59.906 0-108.886-47.67-110.999-107.069h110.122l82.1 37.754 17.966 8.262c-18.799 37.218-57.3 61.053-99.189 61.053zm4-113.632v-108.436c59.399 2.113 107.069 51.093 107.069 110.999 0 14.864-2.868 29.226-8.529 42.75-12.596-5.792-82.023-37.718-98.54-45.313z"></path>
                                        <path d="m178.269 200.247c-18.652 14.18-33.722 14.98-33.948 14.99-2.2.079-3.925 1.922-3.855 4.125.071 2.232 1.947 3.945 4.125 3.871.71-.022 17.629-.735 38.52-16.618 1.759-1.337 2.101-3.846.763-5.605-1.337-1.759-3.847-2.1-5.605-.763z"></path>
                                        <path d="m196.288 182.951c-2.314 2.735-4.72 5.353-7.151 7.778-2.526 2.521-.712 6.831 2.826 6.831 1.022 0 2.045-.39 2.826-1.169 2.589-2.583 5.148-5.367 7.607-8.273 1.427-1.687 1.216-4.21-.47-5.637-1.687-1.426-4.21-1.216-5.638.47z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <h5 class="u-text u-text-2">24% Population live in Regional areas.</h5>
                        <p class="u-text u-text-palette-1-dark-1 u-text-3">
                            Yet half of all lives lost in 2018 on Victorian roads occurred in regional Victoria.<br>
                        </p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <span class="u-icon u-icon-rectangle u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3f7e"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-3f7e">
                                <g>
                                    <g>
                                        <path d="m164.088 381.853 11.314 56.568-56.569 56.569-50.911-5.657 61.674-61.674-7.778-37.477-37.477-7.778-61.674 61.674-5.657-50.911 56.569-56.569 56.568 11.314 217.765-217.765-11.314-56.568 56.569-56.569 50.911 5.657-61.674 61.674 7.779 37.476 37.476 7.779 61.674-61.674 5.657 50.911-56.569 56.569-56.568-11.314z" fill="#3e3d42"></path>
                                        <path d="m287.37 258.57 34.94 34.94-28.8 28.8-34.94-34.94" fill="#787680"></path>
                                        <path d="m224.63 253.43-120.57-120.57 28.8-28.8 120.57 120.57" fill="#787680"></path>
                                        <path d="m132.861 104.061-28.8 28.8-40.228-4.028-45.482-91.282 19.2-19.2 91.282 45.482z" fill="#d8d7da"></path>
                                        <path d="m347.48 274.953h80v225.054h-80z" fill="#d80027" transform="matrix(.707 -.707 .707 .707 -160.5 387.48)"></path>
                                    </g>
                                    <path d="m500.99 433.11-159.14-159.14a8 8 0 0 0 -11.31 0l-8.23 8.23-23.63-23.63 85.8-85.8 52.37 10.48a8.027 8.027 0 0 0 7.23-2.19l56.57-56.57a7.983 7.983 0 0 0 2.29-6.54l-5.66-50.91a8 8 0 0 0 -13.6-4.78l-58.62 58.62-28.11-5.83-5.83-28.11 58.61-58.62a7.989 7.989 0 0 0 -4.77-13.6l-50.91-5.66a8.026 8.026 0 0 0 -6.54 2.29l-56.57 56.57a8.027 8.027 0 0 0 -2.19 7.23l10.48 52.37-85.8 85.8-112.89-112.9-3.75-37.38a8 8 0 0 0 -4.39-6.37l-91.28-45.48a8.018 8.018 0 0 0 -9.23 1.5l-19.2 19.2a8.018 8.018 0 0 0 -1.5 9.23l45.48 91.28a8 8 0 0 0 6.37 4.39l37.38 3.75 112.9 112.89-85.8 85.8-52.37-10.48a8.018 8.018 0 0 0 -7.23 2.19l-56.57 56.57a7.983 7.983 0 0 0 -2.29 6.54l5.66 50.91a8 8 0 0 0 13.6 4.78l58.62-58.62 28.11 5.83 5.83 28.11-58.61 58.62a7.989 7.989 0 0 0 4.77 13.6l50.91 5.66c.3.03.59.05.88.05a8 8 0 0 0 5.66-2.34l56.57-56.57a8.027 8.027 0 0 0 2.19-7.23l-10.48-52.37 85.8-85.8 23.63 23.63-8.23 8.23a8 8 0 0 0 0 11.31l159.14 159.14a8 8 0 0 0 11.31 0l56.57-56.57a8 8 0 0 0 0-11.31zm-431.97-311.8-40.94-82.17 11.06-11.06 82.17 40.94 3.21 32.06-23.44 23.44zm46.35 11.55 17.49-17.49 109.26 109.26-17.49 17.49zm43.06 243.34a8.007 8.007 0 0 0 -2.19 7.22l10.48 52.37-50.82 50.82-30.55-3.39 49.9-49.9a8 8 0 0 0 2.18-7.29l-7.78-37.47a8.015 8.015 0 0 0 -6.21-6.21l-37.47-7.78a8 8 0 0 0 -7.29 2.18l-49.9 49.9-3.39-30.55 50.82-50.82 52.37 10.48a8.007 8.007 0 0 0 7.22-2.19l217.77-217.77a8.007 8.007 0 0 0 2.19-7.22l-10.48-52.37 50.82-50.82 30.55 3.39-49.9 49.9a8 8 0 0 0 -2.18 7.29l7.78 37.47a8.015 8.015 0 0 0 6.21 6.21l37.47 7.78a8 8 0 0 0 7.29-2.18l49.9-49.9 3.39 30.55-50.82 50.82-52.37-10.48a8.007 8.007 0 0 0 -7.22 2.19zm111.45-88.83 17.49-17.49 23.63 23.63-17.49 17.49zm168.88 196.65-147.82-147.82 45.26-45.26 147.82 147.82z"></path>
                                </g>
                            </svg>
                        </span>
                        <h5 class="u-text u-text-4"> 92 Victoria black spots to fix.</h5>
                        <p class="u-text u-text-palette-1-dark-1 u-text-5"> In 2020, federal funding to fix 92 black spots in Victoria. There are more areas still unknown.</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <span class="u-icon u-icon-rectangle u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4e81"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-4e81">
                                <g>
                                    <g>
                                        <g>
                                            <path d="m489.833 186.195h-34.591c-2.228 0-4.335.518-6.231 1.417.238 3.826.362 7.688.362 11.577v28.651c4.603 3.959 8.702 8.485 12.184 13.474h28.276c8.063 0 14.661-6.597 14.661-14.661v-25.798c0-8.063-6.597-14.66-14.661-14.66z" fill="#dfebfa"></path>
                                        </g>
                                        <g fill="#b1dbfc">
                                            <path d="m472.863 226.653v-25.798c0-8.063 6.597-14.661 14.661-14.661h-32.281c-2.228 0-4.335.518-6.231 1.417.238 3.826.362 7.688.362 11.577v28.651c4.603 3.959 8.701 8.485 12.184 13.474h25.967c-8.064.001-14.662-6.597-14.662-14.66z"></path>
                                            <path d="m449.374 227.839h-.001z"></path>
                                        </g>
                                        <g>
                                            <path d="m54.727 227.839v-28.651c0-4.371.17-8.704.47-12.994h-33.042c-8.063 0-14.661 6.597-14.661 14.661v25.798c0 8.063 6.597 14.661 14.661 14.661h20.388c3.483-4.989 7.581-9.515 12.184-13.475z" fill="#dfebfa"></path>
                                        </g>
                                        <path d="m31.346 226.653v-25.798c0-8.063 6.597-14.661 14.661-14.661h-23.852c-8.063 0-14.661 6.597-14.661 14.661v25.798c0 8.063 6.597 14.661 14.661 14.661h20.388c.086-.123.177-.243.263-.365-6.535-1.472-11.46-7.332-11.46-14.296z" fill="#b1dbfc"></path>
                                        <g>
                                            <path d="m99.341 211.616h305.419c17.762 0 34.056 6.62 46.614 17.517v-28.903c0-30.686-7.376-59.8-20.768-81.978-14.584-24.149-34.571-37.449-56.281-37.449h-244.55c-21.71 0-41.697 13.3-56.281 37.449-13.392 22.178-20.768 51.292-20.768 81.978v28.903c12.559-10.896 28.853-17.517 46.615-17.517z" fill="#ff4756"></path>
                                        </g>
                                        <g>
                                            <path d="m84.883 200.23c0-30.686 7.376-59.8 20.768-81.978 14.584-24.149 34.571-37.449 56.281-37.449h-32.156c-21.71 0-41.697 13.3-56.281 37.449-13.392 22.178-20.768 51.292-20.768 81.978v28.903c9.057-7.858 20.063-13.475 32.156-16.006z" fill="#fc2d39"></path>
                                        </g>
                                        <g>
                                            <path d="m99.341 211.616h305.419c7.438 0 14.619 1.161 21.378 3.307v-14.693c0-26.079-6.068-50.489-17.084-68.734-9.827-16.273-22.16-25.235-34.728-25.235h-244.55c-12.568 0-24.901 8.962-34.728 25.235-11.016 18.245-17.084 42.655-17.084 68.734v14.693c6.758-2.146 13.939-3.307 21.377-3.307z" fill="#60b8fe"></path>
                                        </g>
                                        <g>
                                            <path d="m110.119 200.23c0-26.079 6.067-50.489 17.084-68.734 9.827-16.273 22.16-25.235 34.728-25.235h-32.156c-12.568 0-24.901 8.962-34.728 25.235-11.016 18.245-17.084 42.655-17.084 68.734v14.693c6.759-2.146 13.94-3.307 21.377-3.307h10.778v-11.386z" fill="#23a8fe"></path>
                                        </g>
                                        <path d="m342.288 148.059c-30.695 0-55.579 25.102-55.579 56.068 0 2.541.184 5.038.508 7.489h25.305c-.591-2.399-.91-4.906-.91-7.489 0-17.091 13.734-30.946 30.676-30.946s30.676 13.855 30.676 30.946c0 2.583-.319 5.091-.91 7.489h25.305c.325-2.452.508-4.948.508-7.489 0-30.966-24.884-56.068-55.579-56.068z" fill="#23a8fe"></path>
                                        <path d="m342.288 148.059c-30.695 0-55.579 25.102-55.579 56.068 0 2.541.184 5.038.508 7.489h25.305c-.591-2.399-.91-4.906-.91-7.489 0-17.091 13.734-30.946 30.676-30.946s30.676 13.855 30.676 30.946c0 2.583-.319 5.091-.91 7.489h25.305c.325-2.452.508-4.948.508-7.489 0-30.966-24.884-56.068-55.579-56.068z" fill="#23a8fe"></path>
                                        <g>
                                            <path d="m314.632 190.721c4.924-20.237 20.732-36.149 40.812-41.068-4.219-1.034-8.622-1.594-13.156-1.594-30.695 0-55.579 25.102-55.579 56.068 0 2.541.184 5.038.508 7.489h25.305c-.591-2.399-.91-4.906-.91-7.489 0-4.803 1.085-9.35 3.02-13.406z" fill="#0193fa"></path>
                                        </g>
                                        <path d="m404.76 210.476h-305.419c-39.423 0-71.678 32.255-71.678 71.678v73.31c1.06-.306 2.175-.479 3.33-.479h166.92c2.214-2.96 5.734-4.893 9.693-4.893h88.888c3.959 0 7.479 1.933 9.693 4.893h166.92c1.155 0 2.27.173 3.33.479v-73.31c0-39.424-32.254-71.678-71.677-71.678z" fill="#ff656f"></path>
                                        <g>
                                            <path d="m74.726 282.153c0-39.423 32.255-71.678 71.677-71.678h-47.062c-39.423 0-71.677 32.255-71.677 71.678v73.31c1.06-.306 2.175-.479 3.33-.479h43.733v-72.831z" fill="#ff4756"></path>
                                        </g>
                                        <path d="m304.301 280.469c13.292 0 25.629-6.908 32.575-18.24l31.724-51.754h-233.099l31.723 51.754c6.946 11.332 19.283 18.24 32.575 18.24z" fill="#ff4756"></path>
                                        <path d="m210.475 262.229-31.723-51.754h-43.25l31.724 51.754c6.947 11.332 19.283 18.24 32.575 18.24h43.25c-13.293 0-25.63-6.908-32.576-18.24z" fill="#fc2d39"></path>
                                        <circle cx="411.85" cy="282.39" fill="#ffd301" r="29.235"></circle>
                                        <circle cx="92.25" cy="282.39" fill="#ffd301" r="29.235"></circle>
                                        <path d="m411.615 282.39c0-10.868 5.935-20.343 14.735-25.382-4.274-2.447-9.221-3.853-14.5-3.853-16.146 0-29.235 13.089-29.235 29.235s13.089 29.235 29.235 29.235c5.279 0 10.226-1.406 14.5-3.853-8.8-5.039-14.735-14.515-14.735-25.382z" fill="#ffc20c"></path>
                                        <path d="m92.015 282.39c0-10.868 5.935-20.343 14.735-25.382-4.274-2.447-9.222-3.853-14.5-3.853-16.146 0-29.235 13.089-29.235 29.235s13.089 29.235 29.235 29.235c5.278 0 10.226-1.406 14.5-3.853-8.8-5.039-14.735-14.515-14.735-25.382z" fill="#ffc20c"></path>
                                        <g>
                                            <path d="m371.685 384.836v32.063c0 8.165 6.681 14.846 14.846 14.846h65.696c8.165 0 14.846-6.681 14.846-14.846v-32.063z" fill="#665e68"></path>
                                        </g>
                                        <path d="m415.418 416.899v-32.063h-43.733v32.063c0 8.165 6.681 14.846 14.846 14.846h43.732c-8.165 0-14.845-6.68-14.845-14.846z" fill="#544e55"></path>
                                        <g>
                                            <path d="m37.028 384.836v32.063c0 8.165 6.681 14.846 14.846 14.846h65.696c8.165 0 14.846-6.681 14.846-14.846v-32.063z" fill="#665e68"></path>
                                        </g>
                                        <path d="m80.761 416.899v-32.063h-43.733v32.063c0 8.165 6.681 14.846 14.846 14.846h43.733c-8.166 0-14.846-6.68-14.846-14.846z" fill="#544e55"></path>
                                        <path d="m196.493 380.617v-23.412c0-2.704.908-5.199 2.42-7.22h-167.92c-6.662 0-12.113 5.451-12.113 12.113v13.626c0 6.662 5.451 12.113 12.113 12.113h167.92c-1.511-2.022-2.42-4.517-2.42-7.22z" fill="#dfebfa"></path>
                                        <path d="m62.613 375.723v-13.625c0-6.662 5.451-12.113 12.113-12.113h-43.733c-6.662 0-12.113 5.451-12.113 12.113v13.625c0 6.663 5.451 12.114 12.113 12.114h43.733c-6.662-.001-12.113-5.451-12.113-12.114z" fill="#b1dbfc"></path>
                                        <path d="m473.108 349.984h-167.92c1.512 2.021 2.42 4.516 2.42 7.22v23.412c0 2.704-.908 5.199-2.42 7.22h167.92c6.662 0 12.113-5.451 12.113-12.113v-13.626c0-6.662-5.451-12.113-12.113-12.113z" fill="#dfebfa"></path>
                                        <path d="m299.494 392.73h-94.888c-6.662 0-12.113-5.451-12.113-12.113v-23.413c0-6.662 5.451-12.113 12.113-12.113h94.888c6.662 0 12.113 5.451 12.113 12.113v23.413c.001 6.662-5.45 12.113-12.113 12.113z" fill="#b1dbfc"></path>
                                        <path d="m236.226 380.617v-23.413c0-6.662 5.451-12.113 12.113-12.113h-43.732c-6.662 0-12.113 5.451-12.113 12.113v23.413c0 6.662 5.451 12.114 12.113 12.114h43.732c-6.662-.001-12.113-5.452-12.113-12.114z" fill="#8bcaff"></path>
                                    </g>
                                    <g fill="#050402">
                                        <path d="m489.84 178.421h-32.074c-5.4-50.22-34.126-105.393-83.435-105.393h-244.55c-24.425 0-46.688 14.462-62.686 40.722-11.025 18.1-18.155 40.551-20.749 64.671h-24.185c-12.22 0-22.161 9.941-22.161 22.16v25.798c0 12.22 9.941 22.161 22.161 22.161h5.394c-4.728 10.14-7.386 21.432-7.386 33.339v63.607c-5.288 3.517-8.783 9.524-8.783 16.337v13.626c0 10.32 8.018 18.785 18.148 19.539v21.637c0 12.322 10.024 22.347 22.346 22.347h65.696c12.321 0 22.346-10.024 22.346-22.347v-21.563h51.772c3.455 3.036 7.969 4.894 12.918 4.894h94.888c4.95 0 9.464-1.858 12.918-4.894h51.772v21.563c0 12.322 10.024 22.347 22.347 22.347h65.696c12.321 0 22.346-10.024 22.346-22.347v-21.637c10.13-.755 18.147-9.219 18.147-19.539v-13.626c0-6.813-3.496-12.82-8.783-16.337v-25.09c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v21.813h-156.525c-3.567-3.136-8.216-4.894-12.918-4.894h-94.888c-4.766 0-9.408 1.808-12.918 4.894h-156.525v-60.331c0-35.952 29.615-64.178 64.178-64.178h31.96l29.529 48.174c8.251 13.459 23.183 21.82 38.97 21.82h104.502c15.786 0 30.718-8.361 38.97-21.82l29.528-48.174h31.96c34.496 0 64.178 28.152 64.178 64.178v3.518c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5c-.194-1.953 1.401-18.01-7.386-36.856h13.282c12.219 0 22.16-9.941 22.16-22.161v-25.798c0-12.219-9.941-22.16-22.16-22.16zm-467.679 55.119c-3.948 0-7.161-3.213-7.161-7.161v-25.798c0-3.948 3.213-7.16 7.161-7.16h23.156c-.052 1.826-.084 3.657-.084 5.494v25.241c-3.086 2.895-5.939 6.032-8.531 9.384zm102.761 183.085c0 4.051-3.295 7.347-7.346 7.347h-65.696c-4.051 0-7.346-3.296-7.346-7.347v-21.563h80.388zm334.657 0c0 4.051-3.295 7.347-7.346 7.347h-65.696c-4.051 0-7.347-3.296-7.347-7.347v-21.563h80.389zm13.534-59.415c.263 0 .519.036.771.081.104.019.208.042.312.068 1.996.504 3.53 2.337 3.53 4.464v13.626c0 2.501-2.112 4.613-4.613 4.613-16.46 0-137.77 0-153.999 0v-22.852zm-173.613-4.894c2.507 0 4.613 2.146 4.613 4.613v23.413c0 2.356-2.005 4.613-4.613 4.613h-94.888c-2.618 0-4.613-2.266-4.613-4.613v-23.412c0-2.463 2.098-4.613 4.613-4.613h94.888zm-114.501 4.894v22.853c-15.8 0-139.486 0-154 0-2.501 0-4.613-2.112-4.613-4.613v-13.626c0-2.126 1.531-3.958 3.525-4.463.107-.027.213-.051.318-.07.252-.045.507-.08.77-.08h154zm-99.529-153.28v-5.015c0-24.493 5.678-47.306 15.988-64.232 8.414-13.812 18.473-21.418 28.323-21.418h108.719c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-108.719c-15.284 0-29.892 10.162-41.134 28.614-11.722 19.246-18.178 44.829-18.178 72.036v9.262c-3.544 1.393-6.962 3.033-10.236 4.902v-14.164c0-26.381 5.935-54.809 19.673-77.361 13.171-21.619 30.884-33.525 49.875-33.525h244.55c18.992 0 36.705 11.906 49.876 33.524 13.687 22.469 19.673 50.734 19.673 77.362v14.165c-3.274-1.869-6.693-3.509-10.236-4.902v-9.263c0-27.208-6.456-52.791-18.179-72.036-11.24-18.452-25.849-28.614-41.133-28.614h-100.832c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h100.832c9.851 0 19.909 7.606 28.322 21.417 10.311 16.928 15.989 39.739 15.989 64.233v5.015c-4.001-.715-8.733-1.183-13.272-1.219-.036-34.752-28.317-63.013-63.077-63.013-34.757 0-63.036 28.256-63.077 63.003-22.212 0-156.974 0-179.87 0-4.69 0-9.754.491-13.877 1.229zm245.018 54.105c-5.543 9.043-15.575 14.66-26.181 14.66h-104.501c-10.606 0-20.638-5.617-26.181-14.66l-24.724-40.334h206.311zm-11.368-55.334c.042-12.744 10.42-23.1 23.174-23.1s23.132 10.355 23.174 23.1zm61.35 0c-.042-21.015-17.151-38.1-38.176-38.1s-38.134 17.085-38.176 38.1h-9.903c.042-26.476 21.594-48.003 48.079-48.003s48.037 21.527 48.079 48.003zm116.53 23.678c0 3.948-3.212 7.161-7.16 7.161h-22.43c-2.592-3.351-5.445-6.488-8.531-9.383v-25.242c0-1.819-.026-3.654-.079-5.494h31.039c3.948 0 7.16 3.212 7.16 7.16v25.798z"></path>
                                        <path d="m192.751 300.85c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h118.61c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5z"></path>
                                        <path d="m411.856 245.381c-20.256 0-36.735 16.479-36.735 36.734s16.479 36.735 36.735 36.735 36.735-16.479 36.735-36.735-16.479-36.734-36.735-36.734zm0 58.47c-11.985 0-21.735-9.75-21.735-21.735 0-11.984 9.75-21.734 21.735-21.734s21.735 9.75 21.735 21.734c.001 11.985-9.749 21.735-21.735 21.735z"></path>
                                        <path d="m55.521 282.115c0 20.256 16.479 36.735 36.735 36.735s36.734-16.479 36.734-36.735-16.479-36.734-36.734-36.734-36.735 16.478-36.735 36.734zm58.47 0c0 11.985-9.75 21.735-21.734 21.735-11.985 0-21.735-9.75-21.735-21.735 0-11.984 9.75-21.734 21.735-21.734 11.984 0 21.734 9.75 21.734 21.734z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <h5 class="u-text u-text-6">
                            211 Live lost in year 2020.<br>
                            <br>
                        </h5>
                        <p class="u-text u-text-palette-1-dark-1 u-text-7"> In 2020, 211 of fatal accidents occured. Down 20.7 %. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-palette-1-light-2 u-section-4" id="carousel_d920">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-text u-text-1"></h2>
                            <h6 class="u-custom-font u-font-arial u-text u-text-2"> People are asking for more than an effective workplaces design.&nbsp;They need a great experience to achieving a real smart offices.&nbsp;Experience ratings of users who visited a workplace with the latest technology compared to those who did not.</h6>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-palette-2-light-1 u-shape-rectangle u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-bottom u-container-layout-2">
                            <h5 class="u-text u-text-body-color u-text-3"> How do I identify a black spot?</h5>
                            <ol class="u-spacing-20 u-text u-text-4">
                                <li>Visit your state insurance commissioner’s website to find complaints and other information about companies in your area.</li>
                                <li>Ask your agent or a customer service representative any questions you have to make sure you’re getting all the coverage you need — and nothing you don’t want.</li>
                                <li>Consider smaller insurance companies, too. Small companies offer rates well below large competitors in many locations.</li>
                                <li>If you’ve had tickets, DUIs or other violations, be sure to shop three and five years after the incident, when surcharges can drop significantly.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="~/Home/MoreInfo" class="u-border-none u-btn u-button-style u-hover-palette-4-base u-palette-2-base u-btn-1">
            <span style="font-size: 1.125rem;">Learn More</span>
            <br>
        </a>        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
            <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-effect-fade u-gallery-item">
                    <div class="u-back-slide" data-image-width="1600" data-image-height="1200">
                        <img class="u-back-image u-expanded" src="~/images/intersection.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-effect-fade u-gallery-item u-gallery-item-2">
                    <div class="u-back-slide" data-image-width="2048" data-image-height="2560">
                        <img class="u-back-image u-expanded" src="~/images/sharpcurves.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-2">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-effect-fade u-gallery-item u-gallery-item-3">
                    <div class="u-back-slide" data-image-width="5131" data-image-height="3421">
                        <img class="u-back-image u-expanded" src="~/images/constructionzones.jpg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-3">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<span style="height: 64px; width: 64px; margin: -522px auto 60px -357px; background-image: none; right: 20px; bottom: 20px;" class="u-back-to-top u-block-63bf-6 u-custom-color-2 u-icon u-icon-circle u-opacity u-opacity-85 u-spacing-15" data-href="#">
    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2664"></use></svg>
    <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13" xmlns="http://www.w3.org/2000/svg" id="svg-2664"><path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
</span>
@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/Home.css" media="screen">


}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
}
