@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_2232" src="" data-image-width="5184" data-image-height="3456">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <h1 class="u-custom-font u-text u-text-body-alt-color u-title u-text-1">
            Melbourne is<br>Australia 's car<br>crash capital.
        </h1>
        <h5 class="u-custom-font u-font-arial u-text u-text-2">
            More accidents are waiting to happen.<br>To keep you and your family safe,&nbsp;<br>you should learn where is not safe.
        </h5>
        <a href="~/Home/Map" data-page-id="35519011" class="u-active-white u-border-2 u-border-custom-color-1 u-btn u-btn-round u-button-style u-hover-white u-palette-5-dark-3 u-radius-8 u-text-active-black u-text-body-alt-color u-text-hover-black u-btn-1">View in Map</a>
    </div>
</section>
<section class="u-align-center u-clearfix u-image u-section-2" id="carousel_dbb4" data-image-width="1600" data-image-height="1067">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-40 u-palette-5-dark-2 u-radius-16 u-repeater-item u-shape-round u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <span class="u-icon u-icon-circle u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2b95"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-2b95" style="enable-background:new 0 0 512 512;">
                                <path style="fill:#713708;" d="M278.032,404.637l-21.847,21.847c-6.038,6.038-15.81,6.038-21.847,0  c-6.038-6.038-6.038-15.81,0-21.847l21.847-21.847c6.027-6.027,6.027-15.82,0-21.847l-20.087-20.087  c-6.038-6.038-6.038-15.81,0-21.847c6.038-6.038,15.81-6.038,21.847,0l20.087,20.087  C296.104,357.166,296.104,386.565,278.032,404.637z"></path>
                                <path style="fill:#994C0F;" d="M310.803,502.95L310.803,502.95c-12.066,12.066-31.629,12.066-43.694,0L157.872,393.713  l43.694-43.695l109.237,109.237C322.87,471.321,322.87,490.884,310.803,502.95z"></path>
                                <path style="fill:#FE318F;" d="M156.997,261.753l67.728,67.728l-1.311,42.384l-76.466,76.466  c-18.133,18.133-47.846,17.697-65.979-0.438l-43.695-43.695c-17.915-17.915-17.697-46.972,0.438-65.105l76.466-76.466  L156.997,261.753z"></path>
                                <path style="fill:#FD0F7F;" d="M190.643,295.4l34.082,34.082l-1.311,42.384l-76.466,76.466  c-18.133,18.133-47.846,17.697-65.979-0.438l-21.411-21.411L190.643,295.4z"></path>
                                <g>
                                    <path style="fill:#1BD9DE;" d="M348.994,61.798c-8.523,0.01-15.446-6.913-15.446-15.446l-0.01-30.904   C333.536,6.913,340.449,0,348.984,0c8.523-0.01,15.446,6.913,15.446,15.446l0.01,30.904   C364.441,54.885,357.529,61.798,348.994,61.798z"></path>
                                    <path style="fill:#1BD9DE;" d="M472.58,154.49l-30.904-0.01c-8.534,0-15.458-6.923-15.446-15.446   c0-8.534,6.913-15.446,15.446-15.446l30.904,0.01c8.534,0,15.458,6.923,15.446,15.446   C488.026,147.577,481.114,154.49,472.58,154.49z"></path>
                                    <path style="fill:#1BD9DE;" d="M452.812,33.23c6.117,6.117,6.118,15.73,0,21.847l-32.771,32.771   c-6.118,6.118-15.731,6.117-21.847,0c-6.118-6.118-6.118-15.73,0-21.847l32.771-32.771   C437.082,27.112,446.694,27.112,452.812,33.23z"></path>
                                </g>
                                <path style="fill:#CAE8F9;" d="M267.109,66.001l152.932,152.932c4.37,4.37,9.831,50.467,15.511,51.342l-43.038,8.958  c-63.795,12.671-124.312,47.846-165.385,88.919l-3.714,3.714L114.176,262.628l3.714-3.714  c43.259-43.259,75.155-100.5,88.263-166.041l8.957-44.787L267.109,66.001z"></path>
                                <path style="fill:#E1E4FB;" d="M146.947,339.094c6.117,6.117,6.118,15.73,0,21.847L125.1,382.789  c-6.118,6.118-15.731,6.117-21.847,0c-6.118-6.118-6.118-15.73,0-21.847l21.847-21.847  C131.218,332.977,140.83,332.977,146.947,339.094z"></path>
                                <path style="fill:#B7E0F6;" d="M343.575,142.467l76.466,76.466c4.37,4.37,9.831,50.467,15.511,51.342l-43.038,8.958  c-63.795,12.671-124.312,47.846-165.385,88.919l-3.714,3.714l-54.619-54.619L343.575,142.467z"></path>
                                <path style="fill:#C5C9F7;" d="M146.947,339.094c6.117,6.117,6.118,15.73,0,21.847L125.1,382.789  c-6.118,6.118-15.731,6.117-21.847,0L146.947,339.094z"></path>
                                <path style="fill:#FE318F;" d="M267.109,22.307l196.627,196.627c12.016,12.016,12.016,31.679,0,43.695  c-1.311,1.311-3.059,2.184-4.808,3.058c-6.991,4.808-15.292,6.555-23.377,4.588c-5.679-0.873-11.141-3.276-15.511-7.646  L223.413,66.001c-5.026-5.026-7.428-11.361-8.303-17.915c-0.873-6.554,0.439-13.11,3.715-19.007  c1.529-2.404,2.621-4.806,4.588-6.773C235.429,10.291,255.093,10.291,267.109,22.307z"></path>
                                <path style="fill:#FD0F7F;" d="M365.422,120.62l98.313,98.313c12.016,12.016,12.016,31.679,0,43.695  c-1.311,1.311-3.059,2.184-4.808,3.058c-6.991,4.808-15.292,6.555-23.377,4.588c-5.679-0.873-11.141-3.276-15.511-7.646  l-98.313-98.313L365.422,120.62z"></path>
                            </svg>


                        </span>
                        <h4 class="u-text u-text-default u-text-1">figure1</h4>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-40 u-palette-5-dark-2 u-radius-16 u-repeater-item u-shape-round u-list-item-2">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <span class="u-icon u-icon-circle u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b678"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-b678">
                                <path d="m336.128906 512h-325.722656c-5.746094 0-10.40625-4.660156-10.40625-10.40625v-43.707031c0-5.746094 4.660156-10.40625 10.40625-10.40625h325.722656zm0 0" fill="#ff933b"></path>
                                <path d="m313.234375 447.480469c-4.703125 10.484375-7.28125 22.027343-7.28125 34.007812v.332031c0 4.597657-3.726563 8.324219-8.324219 8.324219h-297.628906v11.449219c0 5.746094 4.660156 10.40625 10.40625 10.40625h325.722656v-64.519531zm0 0" fill="#f27d27"></path>
                                <path d="m463.089844 356.941406c0-24.136718-19.570313-43.707031-43.707032-43.707031-24.140624 0-43.707031 19.570313-43.707031 43.707031v20.816406c0 24.136719 19.566407 43.707032 43.707031 43.707032 24.136719 0 43.707032-19.570313 43.707032-43.707032zm0 0" fill="#feccc1"></path>
                                <path d="m419.382812 313.234375c-3.03125 0-5.988281.3125-8.847656.898437 19.898438 4.089844 34.863282 21.703126 34.863282 42.808594v20.816406c0 21.105469-14.964844 38.71875-34.863282 42.808594 2.859375.585938 5.816406.898438 8.847656.898438 24.136719 0 43.707032-19.570313 43.707032-43.707032v-20.816406c0-24.136718-19.570313-43.707031-43.707032-43.707031zm0 0" fill="#f9b3a7"></path>
                                <path d="m512 501.59375v-20.105469c0-26.589843-16.839844-50.261719-41.957031-58.984375l-22.285157-7.734375c-7.074218-2.457031-14.507812-3.710937-21.996093-3.710937h-12.757813c-7.488281 0-14.925781 1.253906-21.996094 3.710937l-22.285156 7.734375c-25.117187 8.722656-41.957031 32.394532-41.957031 58.984375v30.511719h174.828125c5.746094 0 10.40625-4.660156 10.40625-10.40625zm0 0" fill="#636363"></path>
                                <path d="m470.042969 422.503906-5.835938-2.027344c15.386719 11.582032 24.898438 29.914063 24.898438 49.898438v41.625h12.488281c5.746094 0 10.40625-4.660156 10.40625-10.40625v-20.105469c0-26.589843-16.839844-50.261719-41.957031-58.984375zm0 0" fill="#494949"></path>
                                <path d="m225.488281 357.984375-15.277343-5.304687v.101562l-35.382813 61.398438-35.382813-61.398438-.011718-.097656-15.265625 5.300781c-25.117188 8.722656-41.957031 32.394531-41.957031 58.984375v30.511719h185.234374v-30.511719c0-26.589844-16.835937-50.261719-41.957031-58.984375zm0 0" fill="#636363"></path>
                                <path d="m225.488281 357.984375-5.835937-2.027344c15.386718 11.582031 24.902344 29.914063 24.902344 49.898438v41.625h22.890624v-30.511719c0-26.589844-16.835937-50.261719-41.957031-58.984375zm0 0" fill="#494949"></path>
                                <path d="m139.445312 352.78125 35.382813 61.398438 35.382813-61.398438v-.101562l-17.691407-6.144532h-35.382812l-17.703125 6.148438zm0 0" fill="#ddf5ff"></path>
                                <path d="m218.535156 292.421875c0-24.136719-19.566406-43.707031-43.707031-43.707031-24.136719 0-43.707031 19.570312-43.707031 43.707031v20.8125c0 24.140625 19.570312 43.707031 43.707031 43.707031 24.140625 0 43.707031-19.566406 43.707031-43.707031zm0 0" fill="#feccc1"></path>
                                <path d="m174.828125 248.714844c-3.027344 0-5.988281.308594-8.84375.894531 19.898437 4.089844 34.859375 21.703125 34.859375 42.8125v20.8125c0 21.109375-14.960938 38.722656-34.859375 42.8125 2.855469.585937 5.8125.894531 8.84375.894531 24.140625 0 43.707031-19.566406 43.707031-43.707031v-20.8125c0-24.136719-19.566406-43.707031-43.707031-43.707031zm0 0" fill="#f9b3a7"></path>
                                <path d="m264.324219 0h-222.699219c-22.988281 0-41.625 18.636719-41.625 41.625v108.230469c0 22.988281 18.636719 41.625 41.625 41.625h22.894531l37.820313 37.820312c5.246094 5.246094 14.214844 1.53125 14.214844-5.886719v-31.933593h147.769531c22.988281 0 41.625-18.636719 41.625-41.625v-108.230469c0-22.988281-18.632813-41.625-41.625-41.625zm0 0" fill="#8db0ff"></path>
                                <path d="m264.324219 0h-222.699219c-22.988281 0-41.625 18.636719-41.625 41.625v108.230469c0 22.988281 18.636719 41.625 41.625 41.625h22.894531l37.820313 37.820312c5.246094 5.246094 14.214844 1.53125 14.214844-5.886719v-31.933593h147.769531c22.988281 0 41.625-18.636719 41.625-41.625v-108.230469c0-22.988281-18.632813-41.625-41.625-41.625zm0 0" fill="#8db0ff"></path>
                                <path d="m41.625 170.667969c-22.988281 0-41.625-18.636719-41.625-41.628907v20.816407c0 22.988281 18.636719 41.625 41.625 41.625h22.894531l37.820313 37.820312c5.246094 5.246094 14.214844 1.53125 14.214844-5.886719v-.714843l-45.9375-45.9375c-3.902344-3.902344-9.199219-6.09375-14.71875-6.09375zm0 0" fill="#669af7"></path>
                                <path d="m264.324219 0h-26.015625c14.8125 0 27.8125 7.734375 35.191406 19.386719 4.390625 6.9375-.578125 15.996093-8.785156 15.996093h-17.039063c-34.484375 0-62.441406 27.953126-62.441406 62.4375v62.441407c0 5.746093-4.65625 10.40625-10.40625 10.40625h-37.460937c-11.496094 0-20.8125 9.316406-20.8125 20.8125h147.769531c22.988281 0 41.625-18.636719 41.625-41.625v-108.230469c0-22.988281-18.632813-41.625-41.625-41.625zm0 0" fill="#669af7"></path>
                                <path d="m247.675781 56.195312h222.699219c22.988281 0 41.625 18.636719 41.625 41.625v108.230469c0 22.988281-18.636719 41.625-41.625 41.625h-107.1875v31.933594c0 7.417969-8.96875 11.128906-14.210938 5.886719l-37.820312-37.820313h-63.480469c-22.988281 0-41.625-18.636719-41.625-41.625v-108.230469c0-22.988281 18.632813-41.625 41.625-41.625zm0 0" fill="#ffd664"></path>
                                <g fill="#f9c646">
                                    <path d="m247.675781 224.78125c-22.988281 0-41.625-18.636719-41.625-41.628906v22.894531c0 22.988281 18.636719 41.628906 41.625 41.628906h63.480469l37.820312 37.820313c5.242188 5.242187 14.210938 1.527344 14.210938-5.886719v-2.796875l-45.9375-45.9375c-3.902344-3.902344-9.195312-6.09375-14.71875-6.09375zm0 0"></path>
                                    <path d="m470.375 56.195312h-26.015625c22.988281 0 41.625 18.636719 41.625 41.625v106.148438c0 11.492188-9.320313 20.8125-20.8125 20.8125h-81.171875c-11.496094 0-20.8125 9.316406-20.8125 20.8125v2.082031h107.1875c22.988281 0 41.625-18.640625 41.625-41.628906v-108.226563c0-22.988281-18.636719-41.625-41.625-41.625zm0 0"></path>
                                </g>
                            </svg>


                        </span>
                        <h4 class="u-text u-text-default u-text-2">figure2</h4>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-40 u-palette-5-dark-2 u-radius-16 u-repeater-item u-shape-round u-list-item-3">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <span class="u-icon u-icon-circle u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 24 24" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5ce8"></use></svg><svg class="u-svg-content" viewBox="0 0 24 24" id="svg-5ce8">
                                <circle cx="8.989" cy="12" fill="#fafafa" r="9"></circle>
                                <g fill="#f44336">
                                    <path d="m8.989 21c-4.962 0-9-4.038-9-9s4.038-9 9-9 9 4.038 9 9-4.037 9-9 9zm0-16.5c-4.136 0-7.5 3.364-7.5 7.5s3.364 7.5 7.5 7.5 7.5-3.364 7.5-7.5-3.364-7.5-7.5-7.5z"></path>
                                    <path d="m8.989 17.5c-3.033 0-5.5-2.467-5.5-5.5s2.467-5.5 5.5-5.5 5.5 2.467 5.5 5.5-2.467 5.5-5.5 5.5zm0-9.5c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z"></path>
                                    <path d="m8.989 14c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.5c-.276 0-.5.224-.5.5s.224.5.5.5.5-.224.5-.5-.224-.5-.5-.5z"></path>
                                </g>
                                <path d="m9 12.75c-.192 0-.384-.073-.53-.22-.293-.293-.293-.768 0-1.061l6.5-6.5c.293-.293.768-.293 1.061 0s.293.768 0 1.061l-6.5 6.5c-.147.147-.339.22-.531.22z" fill="#607d8b"></path>
                                <path d="m18.25 6h-2.5c-.414 0-.75-.336-.75-.75v-2.5c0-.199.079-.39.22-.53l2-2c.215-.214.538-.279.817-.163.28.116.463.39.463.693v1.75h1.75c.303 0 .577.183.693.463s.052.603-.163.817l-2 2c-.14.141-.331.22-.53.22z" fill="#2196f3"></path>
                                <path d="m17.5 24c-3.584 0-6.5-2.916-6.5-6.5s2.916-6.5 6.5-6.5 6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5z" fill="#2196f3"></path>
                                <path d="m16.5 20c-.173 0-.347-.06-.488-.181l-1.75-1.5c-.314-.27-.351-.743-.081-1.058s.742-.352 1.058-.081l1.203 1.031 2.758-2.971c.282-.304.756-.321 1.06-.04.304.282.321.757.04 1.06l-3.25 3.5c-.148.159-.349.24-.55.24z" fill="#fafafa"></path>
                            </svg>


                        </span>
                        <h4 class="u-text u-text-default u-text-3">figure3</h4>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-opacity u-opacity-40 u-palette-5-dark-2 u-radius-16 u-repeater-item u-shape-round u-list-item-4">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <span class="u-icon u-icon-circle u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6609"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-6609">
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="m127.68 509.48c-6.885-4.6-8.76-13.901-4.16-20.801l60-90c4.629-6.929 13.975-8.716 20.801-4.16 6.885 4.6 8.76 13.901 4.16 20.801l-60 90c-4.649 6.95-13.965 8.718-20.801 4.16z" fill="#396973"></path>
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="m363.52 505.32-60-90c-4.6-6.899-2.725-16.201 4.16-20.801 6.826-4.57 16.172-2.769 20.801 4.16l60 90c4.6 6.899 2.725 16.201-4.16 20.801-6.848 4.565-16.16 2.779-20.801-4.16z" fill="#2d4a59"></path>
                                            </g>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="m256 62c-8.291 0-15-6.709-15-15v-32c0-8.291 6.709-15 15-15s15 6.709 15 15v32c0 8.291-6.709 15-15 15z" fill="#396973"></path>
                                            </g>
                                        </g>
                                    </g>
                                    <path d="m271 47v-32c0-8.291-6.709-15-15-15v62c8.291 0 15-6.709 15-15z" fill="#2d4a59"></path>
                                    <g>
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="m481 407c0 8.291-6.709 15-15 15h-420c-8.291 0-15-6.709-15-15v-345c0-8.291 6.709-15 15-15h420c8.291 0 15 6.709 15 15z" fill="#f3f5f9"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <path d="m481 62c0-8.291-6.709-15-15-15h-210v375h210c8.291 0 15-6.709 15-15z" fill="#e1e6f0"></path>
                                    <g id="Presentation_2_">
                                        <g>
                                            <path d="m343.001 268.7 30 44.735-30 48.564h-57.001l-30-53.02 30-66.979c2.1 0 4.501.601 6.599 1.5z" fill="#ffbe40"></path>
                                        </g>
                                        <g>
                                            <g>
                                                <g>
                                                    <g>
                                                        <path d="m166 92-30 45-45 30c0 41.4 33.6 75 75 75s75-33.6 75-75-33.6-75-75-75z" fill="#5ab267"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                        <path d="m166 92v60c0 8.284-6.716 15-15 15h-60c0-41.4 33.6-75 75-75z" fill="#ffdf40"></path>
                                        <g>
                                            <path d="m376 122h-60c-8.291 0-15-6.709-15-15s6.709-15 15-15h60c8.291 0 15 6.709 15 15s-6.709 15-15 15z" fill="#b8c4d9"></path>
                                        </g>
                                        <g>
                                            <path d="m376 182h-60c-8.291 0-15-6.709-15-15s6.709-15 15-15h60c8.291 0 15 6.709 15 15s-6.709 15-15 15z" fill="#b8c4d9"></path>
                                        </g>
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="m166 302h-60c-8.291 0-15-6.709-15-15s6.709-15 15-15h60c8.291 0 15 6.709 15 15s-6.709 15-15 15z" fill="#cfd7e6"></path>
                                                </g>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="m166 362h-60c-8.291 0-15-6.709-15-15s6.709-15 15-15h60c8.291 0 15 6.709 15 15s-6.709 15-15 15z" fill="#cfd7e6"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <path d="m421 227v120c0 8.401-6.599 15-15 15h-62.999v-93.3l52.5-52.2c4.2-4.501 10.8-5.7 16.198-3.301 5.701 2.401 9.301 7.801 9.301 13.801z" fill="#e63a3a"></path>
                                    <g>
                                        <g>
                                            <g>
                                                <path d="m497 62h-482c-8.291 0-15-6.709-15-15s6.709-15 15-15h482c8.291 0 15 6.709 15 15s-6.709 15-15 15z" fill="#396973"></path>
                                            </g>
                                        </g>
                                    </g>
                                    <path d="m497 32h-241v30h241c8.291 0 15-6.709 15-15s-6.709-15-15-15z" fill="#2d4a59"></path>
                                    <path d="m286 242v120h-60c-8.401 0-15-6.599-15-15v-30c0-3.9 1.5-7.8 4.501-10.499l60-60c2.699-3.001 6.599-4.501 10.499-4.501z" fill="#ff7559"></path>
                                    <path d="m256 266.001v95.999h30v-120c-3.9 0-7.8 1.5-10.499 4.501z" fill="#e63a3a"></path>
                                </g>
                            </svg>


                        </span>
                        <h4 class="u-text u-text-default u-text-4">figure4</h4>
                    </div>
                </div>
            </div>
        </div>
        <p class="u-text u-text-5">
            <span class="u-text-body-alt-color">
                <span style="font-size: 1.875rem;">
                    Are you aware of those accident black spots&nbsp;<br> in your area? Learn it here:
                </span>
                <br>
            </span>
            <br>
        </p>
        @Html.ActionLink("Check it now", "SpotMyArea", "Home", new { }, new { @class = "u-active-white u-border-2 u-border-custom-color-1 u-btn u-btn-round u-button-style u-hover-white u-palette-5-dark-3 u-radius-8 u-text-active-black u-text-body-alt-color u-text-hover-black u-btn-1" })
        @Html.ActionLink("More information", "MoreInfo", "Home", new { }, new { @class = "u-border-none u-btn u-button-style u-none u-text-white u-btn-2" })
        <div class="u-rotation-parent u-rotation-parent-1">
            <span class="u-icon u-icon-circle u-rotate-90 u-text-white u-icon-5" data-href="MoreInfo" data-page-id="262830511">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5da0"></use></svg><svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-5da0" style="enable-background:new 0 0 60 60;">
                    <g>
                        <path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
		c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
		C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"></path>
                        <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
		S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"></path>
                    </g>
                </svg>
            </span>
        </div>
    </div>
</section>
@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/Home.css" media="screen">

}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
}