@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="cd-faq">
    <h2 class="u-text u-align-center u-text-1">Frequently Asked Questions</h2>
    <div class="cd-faq-items">
        <ul id="basics" class="cd-faq-group">
            <li>
                <a class="cd-faq-trigger" href="#0">What is an accident black spot?</a>
                <div class="cd-faq-content">
                    <p>A black spot is a portion of road considered to be accident-prone.  In our website, a blackspot is a round area with 100m radius where at least two traffic accidents happend in the past 5 years. While historically concentrated with multiple accidents, and they occurs with a several environmental reasons:</p>
                    <p>
                        <b>Sharp corners</b> - Unexpected sharp corners that limits vision of oncoming traffic.<br>
                        <b>Steep hills</b> - Hills or road section that has steep angle that limits vision of oncoming traffic.<br>
                        <b>Hidden junctions and intersections</b> - Hidden junctions and intersection that causes traffic to suddenly appear.<br>
                    </p>
                </div> <!-- cd-faq-content -->
            </li>

            <li>
                <a class="cd-faq-trigger" href="#0">How do I identify a black spot?</a>
                <div class="cd-faq-content">
                    <p>Accident black spots usually have concerns with the road environment, which causes it to be accident prone. Here are the most common types of black spots in Victoria; Road with a sharp curves and steep angles, regional highways, road intersections and construction zones. These road conditions may significantly limits or distracts the driver's vision, and are primary cause of fatal and serious injury accidents. </p>
                </div> <!-- cd-faq-content -->
            </li>

            <li>
                <a class="cd-faq-trigger" href="#0">What should I do when approaching a traffic black spot?</a>
                <div class="cd-faq-content">
                    <p>1. If you are unsure of the road ahead of you, you must slow down, until you reach confident enough to control the vehicle. This does not only to provide safety, but also for the ones around you.</p>
                    <p>2. Driving in a 100km/h speed zone does not mean you can travel at 110km/h. Same as for 60km/h speed zones. Don’t underestimate that little speed difference. That is the difference between injury and fatality.&nbsp;</p>
                    <p>3. Do not hesistate when driving. Either foot on brakes or foot on pedal. If you have any uncertainty, place your foot on the brake pedal and be ready to brake if necessary.</p>
                </div> <!-- cd-faq-content -->
            </li>

            <li>
                <a class="cd-faq-trigger" href="#0">Why do we need to know?</a>
                <div class="cd-faq-content">
                    <p>Accidents are waiting to happen, and it is always better to approach these risky areas with cautiousness. A traffic accident is may be a random event with a lot of factors. But if multiple accidents happens at a same spot, it is certainly not random. But triggered with multiple factors. </p>
                    <p>Also there are limitations which how the authorities are responsible for road safety, because actually half of the responsiblity is on the society's side. With the increase in safety vehicle protection technologies such as airbags, automated braking systems, adaptive cruise controls, etc. A crash with reported injuries could now results in declaring as property damage by authorities. Hence thereby does not meet the official definition of a casualty crash. In other words insurance may not be fully recovered.</p>
                </div> <!-- cd-faq-content -->
            </li>
            <li>
                <a class="cd-faq-trigger" href="#0">Who should be learning about these?</a>
                <div class="cd-faq-content">
                    <p>Black Spot Helper aims at helping younger drivers, especially the ones with learners and probationary licenses are much more vulnerable to black spots. It is far more dangerous to practice on the road surrounded with accident black spots. Experienced drivers, and supervisors may also benefit from us too!</p>
                </div> <!-- cd-faq-content -->
            </li>
        </ul> <!-- cd-faq-group -->

    </div> <!-- cd-faq-items -->
    <a href="#0" class="cd-close-panel">Close</a>
</section>

<span style="height: 64px; width: 64px; margin: -522px auto 60px -357px; background-image: none; right: 20px; bottom: 20px;" class="u-back-to-top u-block-63bf-6 u-custom-color-2 u-icon u-icon-circle u-opacity u-opacity-85 u-spacing-15" data-href="#">
    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2664"></use></svg>
    <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13" xmlns="http://www.w3.org/2000/svg" id="svg-2664"><path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
</span>
<footer class="site-footer u-align-center u-clearfix u-footer u-grey-70 u-footer" id="sec-5f03">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" style="margin:10px auto !important">2021 Ⓒ Black Spot Helper</p>
        <p class="u-small-text u-text u-text-variant u-text-1" style="margin:10px auto !important">Created with Black Spot Helper Project Team</p>
    </div>
</footer>
@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/More-info.css" media="screen">

}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
    <script class="u-script" type="text/javascript" src="~/Scripts/More-Info.js" defer=""></script>
}