@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hihi" id="sec-4f51">
    <div class="wui-content">
        <div class="wui-content-header">

            <div class="wui-side-menu-header" style="width: 220px;">
                <div>
                    <!-- <button class="route-btn">Plan a Route</button> -->
                    <nav class="route-tab">
                        <a href="/Home/Map/1">
                            <i class="fa fa-dot-circle-o"></i>
                            <span>
                                Black spots
                            </span>
                        </a>

                        <a class="active" href="#">
                            <i class="fa fa-map-signs"></i>
                            <span>
                                Route Planner
                            </span>
                        </a>
                    </nav>

                </div>
            </div>

        </div>
        <div class="wui-overlay">
            <!-- SEARCH BAR -->
            <input id="postcode" hidden />
            <input id="loc" hidden />
            <input id="sidefilter" value="" hidden />
            <input id="riskfilter" value="High risks!Mid risks!Low risks!" hidden />
            <div class="search-bar-overlay" id="searchWrapper">
                <div class="search-box">
                    <span class="box-title" data-hint="The algorithm finds the safest route which avoids as many black spots as possible within 50 tries." data-hintposition="top-right">Plan a safer route and avoid accident black spots for your trip in Victoria.</span>
                    <br />
                    <span class="box-prompt">I am going to...</span>
                    <div class="search-bar">
                        <form id="searchForm" name="searchForm" action="search" method="post" style="display: flex;flex-direction: column;">
                            <input id="startInput" name="startInput" class="addr" type="search" placeholder="From..." style="font-size: 16px;">
                            <div class="search-bar-results" id="search-bar1" style="display: none;"><ul class="result-list" id="result1" style="color:#7f7f7f;"></ul></div>
                            <input id="endInput" name="endInput" class="addr" type="search" placeholder="To..." style="font-size: 16px;">
                            <div class="search-bar-results" id="search-bar2" style="display: none;"><ul class="result-list" id="result2" style="color:#7f7f7f;"></ul></div>
                            <span class="box-prompt" id="errormsg" style="color:red"></span>

                        </form>
                        <a href="#carousel_d920" id="submitBtn" class="u-text-active-palette-1-dark-2 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-2 u-palette-3-base u-radius-45 u-btn-1" style="margin-top: 20px; display: inline-flex;">Search</a>

                    </div>
                    <br />
                    <input id="start" class="locs" hidden />
                    <input id="end" class="locs" hidden />
                </div>

            </div>
        </div>
        <!-- TOOPTIP  -->
        <a href="#" class="wui-retry-trigger">
            <i class="fa fa-undo"></i>
            <span id="retry-btn-txt" style="padding-left: 10px;">Search Again</span>
        </a>
        @*<div class="con-tooltip bottom" id="help-tooltip-toggle">
            <a href="#" style="color: #fdfb5f;"><i class="fa fa-question"></i></a>
            <div class="tooltip ">
                <p>Getting lost? Click on me.</p>
            </div>
        </div>*@
        <!-- JS will add toast notification here -->
        <section class="map_box_container">
            <!--MAP-->
            <div id='map'></div>
        </section>
        <div id="live-chat">
            <header class="clearfix">
                <h4 id="prompt"></h4>
                <span class="chat-message-counter" id="counter" style="display:none"></span>
            </header>
            <div class="chat">
                <div class="chat-history" id="listing">


                </div> <!-- end chat-history -->
            </div> <!-- end chat -->

        </div> <!-- end live-chat -->
        <!-- Map Legends -->
        <div id="legend" class="legend">
            <h4>Black Spot<br>Risks</h4>
            <div><span style="background-color: #fa1d15"></span>HIGH</div>
            <div><span style="background-color: #e2aa50"></span>MEDIUM</div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://unpkg.com/intro.js/minified/introjs.min.css" rel="stylesheet" />

    <link href="~/Content/Route-Planner.css" rel="stylesheet" />
    <style type="text/css">
        .mapboxgl-popup {
            max-width: 500px;
        }

        .loader {
            position: relative;
            height: 40px;
            width: 40px;
            border-radius: 80px;
            border: 3px solid rgba(0,0,0, .7);
            top: 28%;
            top: -webkit-calc(50% - 21px);
            top: calc(50% - 421px);
            left: 35%;
            left: -webkit-calc(50% - 21px);
            left: calc(50% - 21px);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-animation: loader 0.75s linear infinite;
            animation: loader 0.75s linear infinite;
        }

            .loader:after {
                content: "";
                position: absolute;
                top: -5px;
                left: 20px;
                width: 11px;
                height: 11px;
                border-radius: 10px;
                background-color: #000;
            }

        @@-webkit-keyframes loader {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes loader {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script src="https://npmcdn.com/@Html.Raw("@")turf/turf/turf.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js'></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js></script>
    <script src="https://unpkg.com/supercluster@7.1.2/dist/supercluster.min.js"></script>
    <script src="~/Scripts/RouteFinder.js"></script>
}
