@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="u-align-center u-clearfix u-custom-color-9 u-section-1 scroll-container" id="sec-bc51">

    <!-- END Left Rail -->
    <section class="vh yellow section1 section" id="One">
        <div class="sma-content">
            <div class="search-bar-header">
                <!-- <span>Sections</span> -->
                <div id="loader" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                <p id="section09" class="box-title" style="font-size: 30px;display: none;">

                </p>

                <div id="section10" style="display:none;font-size:18px">

                    <p style="padding-top:150px !important">Scroll down to continue</p><a href="#">
                        <span></span>
                    </a>

                </div>
                <input id="postcode" hidden />
                <input id="loc" hidden />
                <div class="search-bar">
                    <form id="searchForm" action="search" method="post" style="display: inline-flex;">
                        <input id="searchText" type="search" placeholder="VIC suburb E.g: 3000 - 3996" style="font-size: 16px; display: none;">
                        <!-- loading animation -->
                        <!--  TODO add animation -->
                        <!-- <div id="loadAnim" class="spinner"><i class="fa fa-spinner"></i></div> -->
                    </form>
                </div>
                <div class="search-bar-results" style="display: none;">
                    <ul class="result-list" id="result">
                    </ul>
                </div>
            </div>


        </div>

    </section>
    <section class="vh section2 section" id="Two">
        <div class="sma-content">
            <span class="sma-header">Did you know?</span>
            <div class="sma-sidemap-containter">
                <div class="sma-side-text">

                    <p class="sma-text">On a monthly average, <span id="avg"></span> road accidents happens at <span class="name"></span>.</p>
                    <p class="sma-text">It is most likely to happen at road <span id="node"></span>.</p>
                </div>
                <div class="sma-side-map">
                    <div id="roadAnimBlock">
                        <div class='highscraper'>
                            <div class='wall-one'>
                                <!-- <div></div> -->
                            </div>
                            <div class='wall-two'>
                                <!-- <div></div> -->
                            </div>
                            <div class='roof'>
                                <div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div></div>
                            </div>
                        </div>

                        <div class='brickhouse'>
                            <div class='wall-one'>
                                <!-- <div></div> -->
                            </div>
                            <div class='wall-two'>
                                <!-- <div></div> -->
                            </div>
                            <div class='roof'>
                                <div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <div class='leaves'>
                            <div></div>
                        </div>
                        <div class='wood'></div>

                        <div class='ground-cropped'>
                            <div class='shadow-brickhouse'></div>
                            <div class='shadow-highscraper'></div>

                            <div class='car-one red'></div>
                            <div class='car-one blue'></div>
                            <div class='car-two black'></div>

                        </div>


                        <div class='road'></div>
                        <div class='ground'>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="vh aqua section3 section" id="Three">

        <div class="sma-content" style="width:100% !important">
            <div class="sma-sidemap-containter" style="width:100% !important">
                <div class="sma-side-text">
                    <span id="tick">Becareful.</span>
                    <p>
                        In the last 5 years, the most severe black spot is located at
                        <span id="road"></span><span id="type"></span>
                        in this suburb.
                    </p>
                    <p>
                        <span id="indicator"></span> car accidents have happend at this spot.
                    </p>
                </div>
                <div class="sma-side-map">
                    <div id="map"></div>
                    <!-- <p class="sma-text">In the last 5 years,
                    Princess Highway / Wellington Road Intersection
                    is considered the most severe black spot.</p> -->
                    <!-- map -->

                </div>
            </div>

        </div>

    </section>
    <section class="vh section4 section" id="Four">
        <div class="sma-content">
            <div class="sma-sidemap-containter">
                <div class="sma-side-text">
                    <span id="sub_4"></span>
                    <p id="desc_4">
                        During the last 5 years,
                        <span class="num"></span> accidents happend, and <span id="perc">%</span> of them are <span id="actype"></span>.
                    </p>
                </div>
                <div class="sma-side-map">
                    <div id="canvas-holder">
                        <canvas id="chart-area">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="vh midblue section5 section" id="Five">
        <div class="sma-content">
            <span class="sma-header">And also...</span>
            <div class="sma-sidemap-containter">
                <div class="sma-side-text yellow1" style="padding-left: 90px;">
                    <img src="~/images/driver.svg" style="width: 150px;" />
                    <p id="desc_4">
                        <span id="yd"></span> out of the <span class="num"></span> accidents were involved with young drivers.
                        That is <span id="ydp"></span>% within <span class="name"></span>.
                    </p>
                </div>
                <div class="sma-side-text blue2">
                    <img src="~/images/liqour.svg" style="width: 150px;" />
                    <p id="desc_4">
                        <span id="alc"></span> out of the <span class="num"></span> accidents involved with drink-driving.
                        That is <span id="alcp"></span>% within <span class="name"></span>.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="vh pink section6 section" id="Six">
        <div class="sma-content" style="padding-bottom:30px">
            <span class="sma-header">
                Do you know what are the best conditions to drive?
            </span>
            <p id="section09" class="box-title" style="font-size: 30px;">
                How risky is your usual travel times?<br> Let's see if it is safe during those conditions in <span class="name"></span>.
            </p>
            <div class="sma-sidemap-containter">

                <div class="sma-side-text sma-align-end" style="padding-bottom: 100px;">
                    <!-- select 1  -->
                    <div class="sma-choose-box">
                        <p id="desc_4">Light Condition: </p>
                        <div class="select">
                            <select id="select-light">
                                <option value="Day">Day time</option>
                                <option value="Dusk/Dawn">Dusk/Dawn</option>
                                <option value="Dark Street lights on">Dark (street lights on)</option>
                                <option value="Dark No street lights">Dark (no street lights)</option>
                                <option value="Dark Street lights off">Dark (street lights off)</option>
                                <option value="Dark Street lights unknown">Dark (street lights unknown)</option>
                            </select>
                        </div>
                    </div>
                    <!-- select 4  -->
                    <div class="sma-choose-box">
                        <p id="desc_4">Day of week: </p>
                        <div class="select">
                            <select id="select-day">
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                    </div>
                    <!-- select 2 -->
                    <div class="sma-choose-box">
                        <p id="desc_4">Vehicle Type:  </p>
                        <div class="select">
                            <select id="select-vehicle">
                                <option value="private_car">Private Vehicle</option>
                                <option value="Heavy_Vehicle">Heavy Vehicle</option>
                                <option value="Motor_Vehicle">Motorcycle</option>
                            </select>
                        </div>
                    </div>
                    <!-- select 3  -->
                    <div class="sma-choose-box">
                        <p id="desc_4">Age of drivers:  </p>
                        <div class="select">
                            <select id="select-driver">
                                <option value="Young_driver">Young Driver (Aged 18 - 25)</option>
                                <option value="middle_aged_driver">Middle-Aged Driver (Aged 26 - 64)</option>
                                <option value="Old_driver">Old Driver (Aged 65 & above)</option>
                            </select>
                        </div>
                    </div>
                    <div class="sma-choose-box">
                        <p id="desc_4">Hour of the day:  </p>
                        <div class="select">
                            <select id="select-hour">
                                <option value="0">0:00 (a.m.)</option>
                                <option value="1">1:00 (a.m.)</option>
                                <option value="2">2:00 (a.m.)</option>
                                <option value="3">3:00 (a.m.)</option>
                                <option value="4">4:00 (a.m.)</option>
                                <option value="5">5:00 (a.m.)</option>
                                <option value="6">6:00 (a.m.)</option>
                                <option value="7">7:00 (a.m.)</option>
                                <option value="8">8:00 (a.m.)</option>
                                <option value="9">9:00 (a.m.)</option>
                                <option value="10">10:00 (a.m.)</option>
                                <option value="11">11:00 (a.m.)</option>
                                <option value="12">12:00 (p.m.)</option>
                                <option value="13">13:00 (p.m.)</option>
                                <option value="14">14:00 (p.m.)</option>
                                <option value="15">15:00 (p.m.)</option>
                                <option value="16">16:00 (p.m.)</option>
                                <option value="17">17:00 (p.m.)</option>
                                <option value="18">18:00 (p.m.)</option>
                                <option value="19">19:00 (p.m.)</option>
                                <option value="20">20:00 (p.m.)</option>
                                <option value="21">21:00 (p.m.)</option>
                                <option value="22">22:00 (p.m.)</option>
                                <option value="23">23:00 (p.m.)</option>
                            </select>
                        </div>
                    </div>
                    <a href="#" id="scorebtm">Calculate</a>


                </div>
                <div class="sma-side-text">
                    <p id="desc_4">Risk Meter</p>
                    <figure class="highcharts-figure">
                        <div id="container-speed" class="chart-container"></div>
                    </figure>
                </div>
            </div>

        </div>
    </section>
    <section class="vh skyblue section7 section" id="Seven">
        <!-- <span>There's More</span> -->
        <div class="sma-content" style="padding-bottom: 150px;">
            <p style="font-size: 20px">Plan a safer route for your next trip in Victoria.</p>
            <a href="Map/2" data-page-id="642891" class="u-palette-3-base u-active-palette-1-dark-2 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-2 u-palette-1-base u-radius-45 u-btn-1" style="z-index: 10;">Plan a route</a>
            <p style="font-size: 20px;" class="sma-side-text">Or learn more about black spots.</p>
            <a href="MoreInfo" data-page-id="642891" class="u-active-palette-1-dark-2 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-2 u-palette-1-base u-radius-45 u-btn-1" style="z-index: 10;">Read more</a>
            <a id="replay" href="#" data-page-id="642891" class="u-active-palette-1-dark-2 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-dark-2 u-palette-1-base u-radius-45 u-btn-1" style="z-index: 10;">Try Another Suburb</a>
        </div>
        <div class="country-wrap">
            <div class="street">
            </div>
            <div class="street-stripe"></div>
            <div class="hill">
            </div>
        </div>
        <footer class="site-footer u-align-center u-clearfix u-footer u-grey-70 u-footer" id="sec-5f03">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <p class="u-small-text u-text u-text-variant" style="margin:10px auto !important">2021 Ⓒ Black Spot Helper</p>
                <p class="u-small-text u-text u-text-variant" style="margin:10px auto !important">Created with Black Spot Helper Project Team</p>
            </div>
        </footer>
    </section>



</section>
@section Styles {
    <link rel="stylesheet" href="~/Content/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/Spot-My-Area.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css" media="screen">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        #fp-nav ul li a span {
            background: white;
        }

        .lds-roller {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }

            .lds-roller div {
                animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                transform-origin: 40px 40px;
            }

                .lds-roller div:after {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: #fff;
                    margin: -4px 0 0 -4px;
                }

                .lds-roller div:nth-child(1) {
                    animation-delay: -0.036s;
                }

                    .lds-roller div:nth-child(1):after {
                        top: 63px;
                        left: 63px;
                    }

                .lds-roller div:nth-child(2) {
                    animation-delay: -0.072s;
                }

                    .lds-roller div:nth-child(2):after {
                        top: 68px;
                        left: 56px;
                    }

                .lds-roller div:nth-child(3) {
                    animation-delay: -0.108s;
                }

                    .lds-roller div:nth-child(3):after {
                        top: 71px;
                        left: 48px;
                    }

                .lds-roller div:nth-child(4) {
                    animation-delay: -0.144s;
                }

                    .lds-roller div:nth-child(4):after {
                        top: 72px;
                        left: 40px;
                    }

                .lds-roller div:nth-child(5) {
                    animation-delay: -0.18s;
                }

                    .lds-roller div:nth-child(5):after {
                        top: 71px;
                        left: 32px;
                    }

                .lds-roller div:nth-child(6) {
                    animation-delay: -0.216s;
                }

                    .lds-roller div:nth-child(6):after {
                        top: 68px;
                        left: 24px;
                    }

                .lds-roller div:nth-child(7) {
                    animation-delay: -0.252s;
                }

                    .lds-roller div:nth-child(7):after {
                        top: 63px;
                        left: 17px;
                    }

                .lds-roller div:nth-child(8) {
                    animation-delay: -0.288s;
                }

                    .lds-roller div:nth-child(8):after {
                        top: 56px;
                        left: 12px;
                    }

        @@keyframes lds-roller {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

}
@section Scripts {
    <script class="u-script" src="~/Scripts/jquery.js"></script>
    <script class="u-script" src="~/Scripts/nicepage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.extensions.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sec-bc51').fullpage({
                //options here
                autoScrolling: true,
                scrollHorizontally: true,
                navigation: true,
                navigationPosition: 'left',
                parallax: true,
                navigationTooltips: ['Opening', 'Overview', 'Most Severe BS', 'Accident Type Pie Chart', 'Young Driver and Drink Driving', 'Risk Calculator', 'End'],
                showActiveTooltip: false,
                fitToSection: false,
                autoScrolling:false
            });

            //methods
            $.fn.fullpage.setAllowScrolling(false);
        });</script>
    <script src="~/Scripts/Spot-My-Area.js"></script>
}